HELP.md
/target/
/src/main/generated/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/manifest.json
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/assets/leonardobonacci.jpg
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/assets/tile38-logo.png
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/doc/README.md
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/etc/connector-sink.json
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/etc/connector-source-stations.json
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/etc/connector-source-trains.json
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/annotations-17.0.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/audience-annotations-0.5.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/checker-qual-2.11.1.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-beanutils-1.9.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-cli-1.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-collections-3.2.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-compress-1.20.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-lang3-3.9.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/commons-logging-1.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/duct-tape-1.0.8.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/error_prone_annotations-2.3.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/failureaccess-1.0.1.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/guava-29.0-jre.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/hamcrest-core-1.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/j2objc-annotations-1.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-annotations-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-core-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-databind-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-dataformat-csv-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-datatype-jdk8-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-module-paranamer-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jackson-module-scala_2.13-2.10.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jna-5.5.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jna-platform-5.5.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jopt-simple-5.0.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/jsr305-3.0.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/junit-4.12.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/junixsocket-common-2.0.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/junixsocket-native-common-2.0.4.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/kafka_2.13-2.5.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/kafka-connect-tile38-sink-1.0.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/lettuce-core-5.2.1.RELEASE.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/logback-classic-1.2.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/logback-core-1.2.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/metrics-core-2.2.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/native-lib-loader-2.0.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-buffer-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-codec-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-common-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-handler-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-resolver-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-transport-4.1.43.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-transport-native-epoll-4.1.45.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/netty-transport-native-unix-common-4.1.45.Final.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/paranamer-2.8.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/reactive-streams-1.0.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/reactor-core-3.3.0.RELEASE.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/scala-collection-compat_2.13-2.1.3.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/scala-java8-compat_2.13-0.9.0.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/scala-library-2.13.1.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/scala-logging_2.13-3.9.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/scala-reflect-2.13.1.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/slf4j-api-1.7.30.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/tcp-unix-socket-proxy-1.0.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/testcontainers-1.14.1.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/visible-assertions-2.1.2.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/zookeeper-3.5.7.jar
confluent-hub-components/leonardobonacci-kafka-connect-tile38-sink/lib/zookeeper-jute-3.5.7.jar
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/.checkpoint
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/.lock
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/000003.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/000006.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/000008.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/000009.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/MANIFEST-000007
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593475200000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/000003.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/000006.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/000008.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/000009.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/MANIFEST-000007
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_COUNTDOWN_0/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593475200000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/.checkpoint
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/.lock
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000003.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000006.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/MANIFEST-000007
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/000003.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/000006.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/MANIFEST-000007
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_PICKUP_33/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/.checkpoint
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/.lock
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/000011.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/000014.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/000017.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/000018.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/LOG.old.1593551603748579
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/LOG.old.1593551798577705
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/MANIFEST-000013
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/OPTIONS-000010
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_15/0_0/rocksdb/KafkaTopic_Right-Reduce/OPTIONS-000016
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/.checkpoint
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/.lock
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000006.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000010.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000013.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/000014.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/LOG.old.1593551798703054
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/MANIFEST-000009
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINOTHER-0000000009-store/KSTREAM-JOINOTHER-0000000009-store.1593518400000/OPTIONS-000012
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/000010.log
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/000036.sst
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/CURRENT
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/IDENTITY
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/LOCK
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/LOG
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/LOG.old.1593551798577706
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/MANIFEST-000009
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/OPTIONS-000005
datagen/kafka-streams/_confluent-ksql-default_query_CSAS_TRACE_UNFILTERED_5/0_0/KSTREAM-JOINTHIS-0000000008-store/KSTREAM-JOINTHIS-0000000008-store.1593518400000/OPTIONS-000012
datagen/
home/.mvn/
